
.calculadora{
    display:block;
    margin: 0 auto;
    padding: 20px;
    background-color: blue;
    background-image: url("imagen1.jpg");
    width: 515px;
    height: 600px;
    border-radius: 32px;
    box-shadow: 5px 5px 15px -3px rgb(168, 8, 8), -5px -5px 15px 3px rgb(219, 38, 38);    
}
.calculadora td button{
    display: block;
    width: 90px;
    height: 80px;
    font-size: 25px;
    box-shadow: 7px 7px 15px -4px rgb(147, 27, 177), -5px -5px 15px 3px rgb(168, 21, 168);
}



#calculador{
    display: block;
    margin: 10px 10px 10px;
    text-align:right;
    font-size: 70px;
    margin-bottom: 50px;
    width: 450px;
    height: 170px;
    line-height: 150px;
    background-color: rgb(2, 3, 3);
    border-radius: 30px;
    box-shadow: 7px 7px 15px -4px rgb(147, 27, 177), -5px -5px 15px 3px rgb(168, 21, 168);
    overflow-y:hidden;
}
button{
    border-radius: 32px;
    background-image: url("imagen1.jpg");
    box-shadow: 5px 5px 10px -3px black, -5px -5px 15px 3px rgb(39, 37, 37);
    
}

body{
    background-image: url("cielo3.avif");
}
*{
    font-family: 'https://kinsta.com/es/blog/fuentes-seguras-para-la-web/#9-consolas',serif;
    color: rgb(250, 250, 250);
}
